@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..800&family=Poppins:wght@100;200;400;600;800&display=swap');

:root {
    --rosaColor: #FF5784;
    --inputLabel: #9796A1;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.menu {
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.menu ul {
    width: 100vw;
    height: 60px;
    display: flex;
    list-style: none;
    background: #FFFFFF;
}

.menu ul li {
    width: calc(100vw/4);
}

.menu ul li {
    height: 100%;
}

.menu ul li.active a .linklabel {
    color: var(--rosaColor);
}

.menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6px;
    text-decoration: none;
}

.menu ul li a .linkicon img {
    height: 25px;
}



.menu ul li a .linklabel {
    font-size: 12px;
    color: #53575D;
}

.jmctn {
    width: calc(100vw - 100vw/10);
    height: auto;
    position: fixed;
    top: 20px;
    z-index: 100;
    display: flex;
    align-items: center;
    margin: 0 calc(100vw/20);
    padding: 10px;
    border-radius: 15px;
    border: 1px 0px 0px 0px;
    background: #EBEBEB;
}

.jmctn .jmicon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.jmctn .jmicon img {
    width: 100%;
    height: 100%;
}

.jmctn  .jmtext {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

#chatbox {
    height: calc(100% - 170px) !important;
    margin-top: 60px;
    overflow-x: hidden;
    /* background: red; */
}

#sending_message_holder {
    width: 100%;
    position: absolute;
    bottom: 70px;
    /* background: yellow; */
}

.message.agent {
    background: #EBEBEB !important;
}

.message.user {
    height: auto !important;
    text-overflow: ellipsis;
    text-align: right;
    background: #FFE2EA !important;
}

.send_btn {
    color: white !;
    background: var(--rosaColor) !important;
    background-image: url("../img/Arrow-Up.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

#restart_btn {
    background: white;
    background-image: url("../img/Arrow-Reload.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
}

.ask_button.ok,
#restart_chat_btn,
#yes_btn,
.send_form_btn {
    color: white !important;
    background: var(--rosaColor) !important;
}

#form_container form {
    padding-top: 100px;
    /* background: red; */
}